.autocomplete-suggestions { 
	border: 1px solid #999; 
	background: #FFF; 
	overflow: auto; 
	font-family: sans-serif;
	font-size: 12px;
}

.autocomplete-suggestion { 
	padding: 2px 5px; 
	/*white-space: nowrap; */
	/*overflow: hidden; */
	font-family: sans-serif;
}

.autocomplete-selected { 
	background: #F0F0F0; 
}

.autocomplete-suggestions strong { 
	font-weight: normal; 
	color: #3399FF; 
}

.autocomplete-group { 
	padding: 2px 5px; 
}

.autocomplete-group strong { 
	display: block; 
	border-bottom: 1px solid #000; 
}

body {
	font-family: sans-serif;
	font-size: 13px;
}